// main: styles.less
@import (reference) "global.less";

.action-nav {
    margin: 0 0 10px 0;
    > div {
        font-size: 10px!important;
        &:after {
            content: none;
        }
    } //removing #grid from style wrap
    > * {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
/* action-nav */




.buttonColors (@dark: @grayDark, @color: @gray, @mid: @grayMid, @light: @grayLight) {
   background: fade(@color,20%);
   color: @dark;
   
   &.button-active {
      background: light;
   }
   
   span.paper-icon {
      background: @mid;
      background: linear-gradient(45deg, @mid 86%, fade(@mid,0%) 14%);

      i.fa {
         color: white;
      }

      &:before {
         background: fade(@mid,100%);
      }

      &:after {
         background: linear-gradient(45deg, @dark 50%, transparent 50%);
      }
   }
   
   &:hover {
      background: @dark;
      color: white;
      
      span.paper-icon {
         &:before {
            background: fade(@mid,100%);
         }
      }
   }
}

.button {
   .buttonColors;
   
   font-size: 0.1px;
   display: inline-table;
   vertical-align: middle;
   position: relative;
   padding: .5rem;
   border: none;
   text-align: left;
   cursor: pointer;
   transition: all .4s ease-out;
   text-decoration: none;
   border-radius: @paperIconBorderRadius + .4rem; 
   
   span.button-text {
      display: table-cell;
      vertical-align: middle;
      height: @paperIconHeight;
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: .5rem;
   }
}

.small-button {
   .buttonColors;
   
   padding: .5rem;
   border-radius: @paperIconBorderRadius + .4rem; 
   font-size: 1.5rem;
   cursor: pointer;
   
   span.button-text {
      display: inline-block;
      padding-left: .5rem;
      font-weight: bold;
   }
}


@paperIconHeight: 3.2rem;
@paperIconBorderRadius: @paperIconHeight*.15;
span.paper-icon {
   display: table-cell;
   position: relative;
   z-index: 10;
   height: @paperIconHeight;
   width: @paperIconHeight*.75;
   border-radius: @paperIconBorderRadius;
   vertical-align: middle;
   text-align: center;
   
   i.fa {
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate3d(-50%,-50%,0) scale(.34);
      font-size: @paperIconHeight*1.25;
      transition: all .4s ease-out;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      perspective: 1px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: white;
   }
   
   &:before {
      display: block;
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: @paperIconBorderRadius @paperIconBorderRadius*2.85 @paperIconBorderRadius @paperIconBorderRadius;
      transition: all .3s ease-out;
   }
   
   &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: @paperIconHeight*.25;
      width: @paperIconHeight*.25;
      border-radius: 0 @paperIconBorderRadius 0 @paperIconBorderRadius;
      transition: all .25s ease-out;
   }
}

.button:hover {
   span.paper-icon {
      
      i.fa {
         transform: translate3d(-50%,-50%,0) scale(.45);//transform-style: preserve-3d;
      }
      &:before {
         border-radius: @paperIconBorderRadius;
      }
      
      &:after {
         height: 0;
         width: 0;
         top: 6.5%;
         right: 6.5%;
      }
   }
}

.service .button { .buttonColors(@serviceDark,@service,@serviceMid,@serviceLight); }
.caregiver .button { .buttonColors(@caregiverDark,@caregiver,@caregiverMid,@caregiverLight); }
.client .button { .buttonColors(@clientDark,@client,@clientMid,@clientLight); }
