/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i 
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   
   UNIFORMITY
   
   ========================================================================== */


body {background-image:url('../img/bg-gradient.jpg');background-position:center;background-repeat:repeat-y;background-color:#1158aa;font-family: 'Century Gothic','Open Sans', sans-serif; font-size:10px;font-weight: bold; padding-bottom:100px;}

#topbg {background-image:url('../img/top.jpg');background-position:top center;background-repeat:no-repeat;overflow:auto;}

header {height:75px;min-width:880px;width:75%;margin:0px auto 0px auto;}

@radius:10px;
.radius {
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    border-radius:@radius; /* future proofing */
    -khtml-border-radius:@radius; /* for old Konqueror browsers */}

.box {
    .radius;
    padding:8px;
    border:2px solid;
    margin-bottom: 10px;
}

/* ==========================================================================
   
   GLOBAL STYLES
   
   ========================================================================== */

/*--
COLOR STYLES
--*/
@gray-dark:#646c80;
@gray-mid:#8b94ab;
@gray-light:#e8eff8;
@yellow:#fff200;
@caregiver-dark:#009a86;
@caregiver-light:#e0f2ed;
@caregiver-med:#66CAA6;
@client-dark:#8654FF;
@client-light:#EFE9FC;
@client-med:#B698FF;
@service-dark:#42B1DC;
@service-light:#E0F2FB;
@service-med:#86D0FF;
@red-dark:#ED1C24;
@red-light:#FFF0E1;
@yellow-dark:#FF6200;
@yellow-light:#FFFCD5;
@green-dark:#00A651;
@green-mid:#00ce65;
@green-light:#E9FFE5;

/*--
TEXT STYLES
--*/
@tinyText:1em;@tinyTextLH:1em;
@smallText:1.2em;@smallTextLH:1em;
@regularText:1.5em;@regularTextLH:1em;
@mediumText:2em;@mediumTextLH:1em;
@largeText:2.5em;@largeTextLH:1.4em;
@hugeText:3em;@hugeTextLH:1em;
.tinyText {font-size:@tinyText;line-height:@tinyTextLH;}
.smallText {font-size:@smallText;line-height:@smallTextLH;}
.regularText {font-size:@regularText;line-height:@regularTextLH;}
.mediumText {font-size:@mediumText;line-height:@mediumTextLH;}
.largeText {font-size:@largeText;line-height:@largeTextLH;}
.hugeText {font-size:@hugeText;line-height:@hugeTextLH;}
.uppercase {text-transform:uppercase;}
.capitalize {text-transform:capitalize;}

h1 {font-size:3em;line-height:1em;margin:0;}
h2 {font-size:2.5em;line-height:1.4em;margin:0;.capitalize;}
h3 {font-size:2.5em;line-height:1.4em;text-transform:.uppercase;;}
h4 {font-size:2em;line-height: 1em;}

a {color:inherit;}
a:visited {color:inherit;}

.service-text {color:@service-dark;}
.caregiver-text {color:@caregiver-dark;}
.client-text {color:@client-dark;}




.non-urgent {
    background:@green-light;
    color:@green-dark;
    border-color:inherit;
    span {border-color:@green-dark;}
}

.service-header {width:100%;}
.service-wrap {
    display:inline-block;
    width:33.33%;
    vertical-align: top;
    text-align:center;
    padding:0px 5px;
      
    &:last-of-type {padding-right: 0px;}
    &:first-of-type {padding-left: 0px;}
    
    .caregiver,
    .service,
    .client {height:100%;width:100%}

    .serviceBox {
        .radius;
        display:table;
        border:2px solid;
        height:100%;
        width:100%;
        padding:4px;
        text-align:center;
        vertical-align:middle;/*inner wrap*/

        text {
        display:table-row;
        width:100%;
        height:auto;
        vertical-align:middle;
            
            &.service-title {
                .smallText;
                .uppercase;
                padding:4px;
                border:2px solid;
            }

            &.service {
                .mediumText;
                display:table-cell;
                padding-top:2px;
                padding-bottom:5px;
                height:100%;

                input[type="text"], select {
                    font-size:2em;
                    line-height:1em;
                    .capitalize;
                    width:100%;
                    margin:none;}

                label {
                    width:auto;
                    margin:0;
                    padding:0;
                    vertical-align:middle;
                    font-size:1.23em!important;
                    .uppercase;}
            }

            &.phone {
                .regularText;
            }
        }/*text*/
    }/*serviceBox*/
}/*service-wrap*/



.global (@dark,@mid,@light) {
    caption {background-color:@dark;color:white;}
    .serviceBox {background-color:@light;border-color:@dark;color:@dark;}
    table {
        tr td {.capitalize;vertical-align: middle;
            span.expiration-date {
                display:inline-block;
                background:#fff;
                border:2px solid;
                padding:0px 4px 0px 4px;
                border-radius:10px;
                width:100%;
                text-align:right;
                line-height:1.1em;
                font-size:.78em;
                vertical-align: middle;
                & [class*="icon-"] {font-size:.9em;display: block;float:left;}
            }
        }
        tr td.expiration-date {border-right:none;padding-right:0px;}
        tr td.form-title {border-left:none;}
        td.expired {
            background:@red-light!important;
            color:@red-dark!important;
            border-color:inherit;
            text-align:center;
            span {border-color:@red-dark!important;}
        }
        td.expiring-soon {
            background:@yellow-light!important;
            color:@yellow-dark!important;
            border-color:inherit;
            text-align:center;
            span {border-color:@yellow-dark!important;}
        }
    }
    
    table.overview {border-color:@dark;color:@dark;
        th {background-color:@dark;border-color:@dark;color:white;.regularText;.capitalize;padding:2px 4px;}
        th.role {width:40%;}
        th.caregiver,th.service,th.client {width:20%;}
        th.caregiver {background-color:@caregiver-dark;border-color:@caregiver-dark;}
        th.client {background-color:@client-dark;border-color:@client-dark;}
        td {.regularText;.capitalize;padding:1px 4px;text-align:left;}
        span.expiration-date {margin:1px 0px;}
        td.expiration-date {width:98px;padding:1px 0px 1px 4px;
            span.expiration-date [class*="icon-"] {margin:1px 0px 0px 0px;}
        }
    }
    
    table.roleList {border-color:@dark;color:@dark;
        th {background-color:@dark;border-color:@dark;color:white;.capitalize;padding:0px 4px;}
        th.role,th.service {.mediumText;.capitalize;}
        th.service, th.forms, th.expired-forms, th.expiring-soon-forms {background-color:@service-dark;border-color:@service-dark;}
        th.forms {.regularText;width:25%;text-align:center;}
        th.expired-forms, th.expiring-soon-forms {.smallText;text-transform:uppercase;width:12.5%;text-align:center;padding:0px 0px 2px 0px;}
        td {.mediumText;.capitalize;padding:2px 4px;}
        td.service {border-color:@service-dark;color:@service-dark;
            a:link, a:visited, a:hover, a:active {color:@service-dark;}
        }
        td.expired-forms, td.expiring-soon-forms {border-color:@service-dark;}
        
         &.role-overview {
            th.role {width:40%;}
            th.service, th.forms, th.expired-forms, th.expiring-soon-forms {background-color:@dark;border-color:@dark;}
            td.expired-forms, td.expiring-soon-forms {border-color:@dark;}
        }
       
    }
    
    table.forms {border-color:@dark;color:@dark;
        th {background-color:@dark;border-color:@dark;color:white;.mediumText;.capitalize;padding:2px 4px;}
        tr td.form-title {text-align: left;padding:2px 4px 4px 4px;}
        td {.mediumText;.capitalize;text-align:left;.non-urgent;}
        span.expiration-date {margin:1px 0px;}
        td.expiration-date {width:120px;padding:1px 0px 2px 4px;
            span.expiration-date [class*="icon-"] {margin:1px 0px 0px 0px;}
        }
    }
    
    table.form-current {border-color:@dark;color:@dark;
        tr td.status {border-left:none;border-right:none;}
        tr td.edit {border-left:none;font-size:1.2em;width:160px;padding-right:4px;
            a.button {width:100%!important;min-width: 100%!important;}
        }
        tr td {.largeText;height:80px;}
        tr td.expiration-date {width:150px;padding:0px 4px;
            span.expiration-date {margin-bottom:6px;}
            span[class*="icon-"] {}
        }
        &.expired {
            td {background:@red-light;color:@red-dark;border-color:inherit;
                span {color:@red-dark;border-color:@red-dark}
            }
            .button {background-color:@red-dark}
        }
        &.expiring-soon {
            td {background:@yellow-light;color:@yellow-dark;border-color:inherit;
                span {color:@yellow-dark;border-color:@yellow-dark}
            }
            .button {background-color:@yellow-dark}
        }
    }
    
    table.form-record {border-color:@dark;color:@dark;
        tr td {.mediumText;.non-urgent;}
        tr td.status {border-left:none;border-right:none;}
        tr td.edit {border-left:none;width:160px;padding-right:4px;
            a.button {width:100%!important;min-width: 100%!important;}
        }
        tr td.expiration-date {padding:4px 4px;width:128px;
            span.expiration-date {margin-bottom:1px;}
            span.expiration-date [class*="icon-"] {}
        }
        tr td.edit {width:75px;text-align: center;
            a {font-size:.7em;}
        }
    }
    
    .button {background-color:@dark;
        *[class*="icon-"] {color:white;}
    }
    
    .box {background:@light;border-color:@dark;color:@dark;}
    
    .page-title {
        .box;
        .radius;
        padding:8px;
        border:2px solid;
        margin-bottom: 10px;
        text-align: center;}
    .page-title p.title {.regularText;.uppercase;}
    
    .form-header {
        .box;
        .radius;
        padding: 8px;
        border: 2px solid;
        margin-bottom: 10px;
        text-align: center;
        vertical-align: middle;
        label {
            display: inline-block;
            margin: 0px 5px 0px 0px;
            padding-top:10px;
            width: auto;
            .mediumText;
            vertical-align: middle;
        }
        input* {display: inline-block;}
    }
    
    input, select {border-color:@dark;color:@dark;}
    input::-webkit-input-placeholder, {color:@mid;}
    input:-moz-placeholder {color:@mid;}
    input::-moz-placeholder {color:@mid;}
    input:-ms-input-placeholder {color:@mid;}
    button, input[type="button"], input[type="submit"], a.button {background-color:@dark;border-color:@dark;color:#fff;}
    a {color:@dark;}
     
}


div.caregiver {.global(@dark:@caregiver-dark,@mid:@caregiver-med,@light:@caregiver-light);}
div.client {.global(@dark:@client-dark,@mid:@client-med,@light:@client-light);}
div.service {.global(@dark:@service-dark,@mid:@service-med,@light:@service-light);}








p, {text-transform:capitalize;margin:0;padding:0;vertical-align:middle;}
    .box.warning p {.mediumText;text-transform:none;margin:10px 0px;}


h3 {.mediumText; .uppercase; margin:0 0 14px 0;text-align: left;}
.overview-top h3 {text-align: center;magrin:0; padding-bottom:10px;}
    .overview-top-caregiver h3 {text-shadow: 0px 0px 8px @caregiver-light;}
    .overview-top-client h3 {text-shadow: 0px 0px 8px @client-light;}


input::-webkit-input-placeholder {.capitalize;}
input:-moz-placeholder {.capitalize;}
input::-moz-placeholder {.capitalize;}
input:-ms-input-placeholder {.capitalize;}

.commandnav p {font-size:1.6em;line-height:1em;}
.profile-info p {.mediumText;margin-bottom:8px;}
.profile p {.mediumText;}
.profile span {;display:block;}
.box p, .search-form p {.regularText;} 
.container button, .container input[type="button"], .container input[type="submit"], .container a.button,
.overview-top button, .overview-top input[type="button"], .overview-top input[type="submit"], .overview-top a.button,
.box button, .box input[type="button"], .box input[type="submit"], .box a.button {font-size:@regularText;line-height:30px;}
.search-form button, .search-form input[type="button"], .search-form input[type="submit"], .search-form a.button {font-size:inherit;line-height:30px;}
.profile-info  .summary {.smallText;text-align:center;font-weight:bold;margin-top:8px;}

a {text-decoration:none;font-size:inherit;}

nav {.capitalize;}





/*--
TABLES
--*/
table {width:100%;border-collapse:collapse;text-align:left;}
table caption {margin-bottom:5px;padding:7px 10px;}
    span.caption {padding:7px 10px;display:block;}
    caption h3 {margin:0;}
table tbody::after {content: '';display: block;height: 6px;}
table tr {border-left:6px solid;}
table td, th {border:2px solid;}




table.list .col1 {width:60%;}
table.list .col3 {width:40%;text-align:center;}
table.list .col4 {width:20%;text-align:center;}
table.list tr td {padding:5px 4px;}










/*--
HOME TOP
--*/
.overview-top {border:3px solid #fff;width:100%;padding:10px;margin:40px 0 14px 0;
    -moz-border-radius:18px;-webkit-border-radius:18px;border-radius:18px;/* future proofing */-khtml-border-radius:18px;/* for old Konqueror browsers */
    color:white!important;text-transform:uppercase;}
.overview-top-caregiver {
    -moz-box-shadow:    0px 0px 8px 1px @caregiver-light;
    -webkit-box-shadow: 0px 0px 8px 1px @caregiver-light;
    box-shadow:         0px 0px 8px 1px @caregiver-light;}
.overview-top-client {
    -moz-box-shadow:    0px 0px 8px 1px @client-light;
    -webkit-box-shadow: 0px 0px 8px 1px @client-light;
    box-shadow:         0px 0px 8px 1px @client-light;}
.overview-top .search-form {padding-bottom:10px;}
.overview-top-caregiver {background-color:rgba(102,202,166,0.45)!important;}
.overview-top-client {background-color:rgba(182,152,255,0.45)!important;}

.overview-top .search-form input[type="search"] {
	display:inline-block;width:100%;height:30px;.radius;
	background-color:#fff;border:2px solid;outline:none;
	line-height:30px;padding:0px 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.top {min-width:880px;width:75%;margin:0 auto 0 auto;}

/*--
TOP NAV
--*/
.top nav {padding:0px 13px;text-align:right;}
.top nav ul {list-style-type: none;margin-bottom:-3px;}
.top nav ul li {display:inline-block;padding-left:2px;}
.top-nav-tab {border:3px solid #fff;padding:4px 10px;min-width:150px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#daf4ff), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #fff, #daf4ff);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #fff, #daf4ff);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #fff, #daf4ff);/* IE 10 */
    background: -o-linear-gradient(top, #fff, #daf4ff);/* Opera 11.10+ */
    background-color:#e8f8ff;
    -moz-box-shadow:    0px 0px 8px 1px #fff;
    -webkit-box-shadow: 0px 0px 8px 1px #fff;
    box-shadow:         0px 0px 8px 1px #fff;
    -moz-border-radius:18px 18px 0px 0px;-webkit-border-radius:18px 18px 0px 0px;border-radius:18px 18px 0px 0px;/* future proofing */-khtml-border-radius:18px 18px 0px 0px;/* for old Konqueror browsers */
    text-align:center;
    font-size:1.8em;}
.top-nav-tab:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #fff, #fff);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #fff, #fff);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #fff, #fff);/* IE 10 */
    background: -o-linear-gradient(top, #fff, #fff);/* Opera 11.10+ */
    background-color:#fff;}



/*--
HEADER NAV
--*/
header nav {padding:0px 13px;text-align:right;}
header nav ul {list-style-type: none;margin-top:-3px;}
header nav ul li {display:inline-block;padding-left:2px;}    
.header-nav-tab {border:3px solid;padding:5px 10px;
    -moz-box-shadow:    0px 0px 8px 1px #fff;
    -webkit-box-shadow: 0px 0px 8px 1px #fff;
    box-shadow:         0px 0px 8px 1px #fff;
    -moz-border-radius:0px 0px 18px 18px;-webkit-border-radius:0px 0px 18px 18px;border-radius:0px 0px 18px 18px;/* future proofing */-khtml-border-radius:0px 0px 18px 18px;/* for old Konqueror browsers */
    text-align:center;
    .regularText;}
.welcome-tab {background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#daf4ff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #daf4ff, #fff);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #daf4ff, #fff);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #daf4ff, #fff);/* IE 10 */
    background: -o-linear-gradient(top, #daf4ff, #fff);/* Opera 11.10+ */
    background-color:#fff;
    border-color:white;
    cursor: default;
    .service-text;}
.link-tab {background: -webkit-gradient(linear, 0% 0%, 0% 110%, from(@service-dark), to(@service-med));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, @service-med, @service-dark);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, @service-med, @service-dark);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, @service-med, @service-dark);/* IE 10 */
    background: -o-linear-gradient(top, @service-med, @service-dark);/* Opera 11.10+ */
    background-color:@service-med;
    border-color:@service-med;
    color:white;}
.link-tab:hover {background: -webkit-gradient(linear, 0% 0%, 0% 110%, from(#aee0ff), to(@service-med));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, @service-med, #aee0ff);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, @service-med, #aee0ff);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, @service-med, #aee0ff);/* IE 10 */
    background: -o-linear-gradient(top, @service-med, #aee0ff);/* Opera 11.10+ */
    background-color:@service-med;
    border-color:@service-med;
    color:white;}

.actionNav {float:right;margin:0 0 10px 0;
    ul {list-style-type: none;}
    li {display: inline-block;margin-left:14px;.regularText;.capitalize;}
}

/*--------------------
    MAIN ELEMENTS
--------------------*/
.container {border:3px solid #fff;min-width:880px;width:75%;padding:10px;margin:0 auto 14px auto;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e8f8ff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #e8f8ff, #fff);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #e8f8ff, #fff);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #e8f8ff, #fff);/* IE 10 */
    background: -o-linear-gradient(top, #e8f8ff, #fff);/* Opera 11.10+ */
    background-color:#fff;
    background-size:100% 200px;
    background-repeat:no-repeat;
    -moz-box-shadow:    0px 0px 8px 1px #fff;
    -webkit-box-shadow: 0px 0px 8px 1px #fff;
    box-shadow:         0px 0px 8px 1px #fff;
    -moz-border-radius:18px;-webkit-border-radius:18px;border-radius:18px;/* future proofing */-khtml-border-radius:18px;/* for old Konqueror browsers */}
    
.container > *:last-child,
.container > *:last-child > *:last-child,
.container > *:last-child > *:last-child > *:last-child,
.container > table:last-child {
  margin-bottom: 0;
}

.message {color:#6a6a6a;text-align: center;.mediumText;}
.message.error {.red-light;}
    
.offset {margin:-12px 0 14px 0;}
.offset-bottom {margin-bottom:0px}
    



/*--
FOOTER
--*/

footer {
    background:@gray-dark;
    margin: 25px -10px -10px -10px!important;/*why??*/
    padding:0px 25px 15px 25px;
    border-top:4px solid @yellow;
    -webkit-border-bottom-right-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-bottomright: 18px;
    -moz-border-radius-bottomleft: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    p {display:block;color:#cdd8e6;.smallText;text-align: center;}
    .footer-container {display: table;}
    .footer-logo-container {display:table-cell;vertical-align: middle;padding-top:10px;}
    .footer-logo {
        width:228px; height: 62px;
        background: url("../img/footer-logo.png");
        background-size:contain;
        text-indent: -9999px;
        cursor: pointer;
    }
    .footer-border {display: table-cell;width:100%;text-align: center;padding-top:15px;}
    .footer-menu {
        display: table-cell;
        padding:40px 0;
        vertical-align: top;
        margin-left:auto;
        text-align: right;
        div {display:inline-block;
            display: table-cell;
            text-align: left;
            &.about {padding-left:10px;}
            &.support {padding-left:10px;}
            &.members {padding-left:25px;}
        }
        h3 {text-transform: capitalize;color:white;margin:0;}
        ul {
            color:@gray-light;
            font-size:1.6em;
            width:125px;
            margin:0;
            padding:0; 
            list-style:none;
            li {
                margin-top:5px;
                padding:0;
                a {-webkit-transition: 0.5s ease;
                    transition: 0.5s ease;
                }
                a:hover {color:white;border-bottom:2px solid @yellow;}
                a.overview:hover {border-bottom-color:@service-med;}
                a.caregivers:hover {border-bottom-color:@caregiver-med;}
                a.clients:hover {border-bottom-color:@client-med;}
            }
        }
    }
}

/*--
OLD FOOTER
--*/
old-footer .box {border-color:#b3e9fb;background:#d8f0ff;}

old-footer {border:2px solid;border-color:@service-med;
    width:60%;margin:20px auto;padding:20px;
    -moz-box-shadow:    0px 0px 5px @service-dark,0px 0px 8px 1px @service-dark,inset 0px 0px 100px 1px #29a4eb;
    -webkit-box-shadow: 0px 0px 5px @service-dark,0px 0px 8px 1px @service-dark,inset 0px 0px 100px 1px #29a4eb;
    box-shadow:         0px 0px 5px @service-dark,0px 0px 8px 1px @service-dark,inset 0px 0px 100px 1px #29a4eb;
    -moz-border-radius: 18px;
    -webkit-border-radius:18px;
    border-radius:18px;/* future proofing */
    -khtml-border-radius:18px;/* for old Konqueror browsers */
    text-align:center;
    background: -webkit-gradient(linear, 0% 0%, 0% 110%, from(@service-dark), to(@service-med));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, @service-med, @service-dark);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, @service-med, @service-dark);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, @service-med, @service-dark);/* IE 10 */
    background: -o-linear-gradient(top, @service-med, @service-dark);/* Opera 11.10+ */
    color:white;}



/*--
GRID
--*/
[class*='col-'] {float: left;display:table-cell;height:100%;}
  
.col-4-5 {width:80%;}
.col-2-3 {width:66.66%;}
.col-1-2 {width:50%;}
.col-1-3 {width:33.33%;}
.col-1-4 {width:25%;}
.col-1-5 {width:20%;}
.col-1-8 {width:12.5%;}
.grid:after {content: "";display: table;clear: both;height:100%;}
  *, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {float: left;padding-right: 5px;padding-left:5px;}
[class*='col-']:last-of-type {padding-right: 0px;}
[class*='col-']:first-of-type {padding-left: 0px;}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*--
COLORS
--*/

.caregiver-light {background-color:@caregiver-light;border-color:@caregiver-dark;color:@caregiver-dark;border-color:@caregiver-dark;}
.client-light {background-color:@client-light;border-color:@client-dark;color:@client-dark;border-color:@client-dark;}
.service-light {background-color:@service-light;border-color:@service-dark;;color:@service-dark;border-color:@service-dark;}
    
    table.caregiver-light td.red-light, table.caregiver-light td.yellow-light {border-color:@caregiver-dark;}
    table.client-light td.red-light, table.lient-light td.yellow-light {border-color:@client-dark;}
    table.service-light td.red-light, table.service-light td.yellow-light {border-color:@service-dark;}
    
.red-light {background-color:@red-light;border-color:@red-dark;color:@red-dark;}
.yellow-light {background-color:@yellow-light;border-color:@yellow-dark;color:@yellow-dark;}
.green-light {background-color:@green-light;border-color:@green-dark;color:@green-dark;}

.caregiver-dark {background-color:@caregiver-dark;border-color:@caregiver-dark;color:#fff;}
.client-dark {background-color:@client-dark;border-color:@client-dark;color:#fff;}
.service-dark {background-color:@service-dark;border-color:@service-dark;color:#fff;}
.red-dark {background-color:@red-dark;border-color:@red-dark;color:#fff;}
.yellow-dark {background-color:@yellow-dark;border-color:@yellow-dark;color:#fff;}
.green-dark {background-color:@green-dark;border-color:@green-dark;color:#fff;}
.green-mid {background-color:@green-mid;border-color:@green-dark;color:#fff;}

.caregiver-cell {color:@caregiver-dark;border-color:@caregiver-dark;}
.client-cell {color:@client-dark;border-color:@client-dark;}
.service-cell {color:@service-dark;border-color:@service-dark;}
.red-cell {background:@red-light;color:@red-dark;border-color:inherit;}
.yellow-cell {background:@yellow-light;color:@yellow-dark;border-color:inherit;}
.green-cell {background:@green-light;color:@green-dark;border-color:inherit;}

.caregiver-bdr {border-color:@caregiver-dark;}
.client-bdr {border-color:@client-dark;}
.service-bdr {border-color:@service-dark;}

.red-cell a {color:@red-dark;}
.yellow-cell a {color:@yellow-dark;}
.green-cell a {color:@green-dark;}







/*--
BUTTONS
--*/
@defaultDuration: .3s;
@secondaryColour: #fff;
@shadowColour: rgba(0, 0, 0, .6);

button,
input[type="button"],
input[type="submit"],
a.button {
    display:inline-block;
    outline:none;
    .radius;
    border:none;
    height:30px;
    min-width:200px;
    padding:0 14px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    text-transform:capitalize;
    cursor: pointer;
    text-decoration: none;
    color: @secondaryColour;
	@outerBorderWidth: 2px;
	@innerBorderWidth: 2px;
	position: relative;

        &:before {
            content: '';
            position: absolute;
            -moz-border-radius:8px;
            -webkit-border-radius:8px;
            border-radius:8px; /* future proofing */
            -khtml-border-radius:8px; /* for old Konqueror browsers */
            border: white solid @innerBorderWidth;
            top: @outerBorderWidth;
            left: @outerBorderWidth;
            right: @outerBorderWidth;
            bottom: @outerBorderWidth;
            opacity: 0;
            transition-duration: @defaultDuration;
            transition-property: opacity;}
    
        &:hover:before {opacity: .6;}
        
        &:hover {text-shadow: 0px 0px 5px rgba(255, 255, 255, .6);}
}

.search-form button,
.search-form input[type="button"],
.search-form input[type="submit"],
.search-form a.button {min-width:120px;width:110px;margin-top:2px;}

form button,
form input[type="button"],
form input[type="submit"],
form a.button {margin:14px 0 0 0;}

[class*='col-'] button,
[class*='col-'] input[type="button"],
[class*='col-'] input[type="submit"],
[class*='col-'] a.button {width:100%;}



/*--
FORMS
--*/
form {margin:0;}
form p {margin:14px 0;}
.search-form p {margin:0px;}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="date"],
input[type="email"],
select {
	display:inline-block;
	background-color:#fff;
	outline:none;
	.radius;
	border:2px solid;
	padding:0px 10px;
	margin:2px 0px;
	height:40px;
	line-height:40px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:1.2em;}

input[type="tel"] {width:150px;}
input[type="text"] {width:350px;}
input[type="search"] {width:350px;height:30px;line-height:30px;margin-right:10px;}
    
#input-st {width:70px;height:40px;}
#input-zip {width:80px;}    
#input-dob {padding:2px 0 2px 4px;width:170px;}
#input-address1, #input-address2 {width:450px;}

label {display:inline-block;width:100px;text-align:right;text-transform:none;font-size:1.2em;}
.search-form label {width:auto;}

ul.errors {margin:0 0 0 100px;padding:0 0 5px 5px;list-style-type: none;
li {display: inline-block;.smallText;.capitalize;color:red;}}

.error {border-color:#ff0000!important;}
label.error {color:#ff0000;}


.loginBox {border:2px solid;border-color:@service-med;
    width:60%;margin:20px auto;padding:20px;
    -moz-box-shadow:    0px 0px 5px @service-dark,0px 0px 8px 1px @service-dark,inset 0px 0px 100px 1px #29a4eb;
    -webkit-box-shadow: 0px 0px 5px @service-dark,0px 0px 8px 1px @service-dark,inset 0px 0px 100px 1px #29a4eb;
    box-shadow:         0px 0px 5px @service-dark,0px 0px 8px 1px @service-dark,inset 0px 0px 100px 1px #29a4eb;
    -moz-border-radius: 18px;
    -webkit-border-radius:18px;
    border-radius:18px;/* future proofing */
    -khtml-border-radius:18px;/* for old Konqueror browsers */
    text-align:center;
    background: -webkit-gradient(linear, 0% 0%, 0% 110%, from(@service-dark), to(@service-med));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, @service-med, @service-dark);/* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, @service-med, @service-dark);/* Firefox 3.6+ */
    background: -ms-linear-gradient(top, @service-med, @service-dark);/* IE 10 */
    background: -o-linear-gradient(top, @service-med, @service-dark);/* Opera 11.10+ */
    color:white;}
    
.loginBox form {width:350px;text-align: left;margin:auto;text-align: center;}
    
.loginBox form label {.regularText;width: 100%;text-align: left;}
    
.loginBox input[type="text"] {margin-bottom:20px;}
    
.loginBox input[type="text"], .loginBox input[type="password"] {
    border:none;width:100%;
    background-color:rgba(53,170,227,0.38);
    -moz-box-shadow:    0px 2px 1px #98dfff,inset 0px 0px 7px #1784b7;
    -webkit-box-shadow: 0px 2px 1px #98dfff,inset 0px 0px 7px #1784b7;
    box-shadow:         0px 2px 1px #98dfff,inset 0px 0px 7px #1784b7;
    color:white;
    font-size: 2em;
    transition: all 0.4s ease;}
    
.loginBox input[type="text"]:hover, .loginBox input[type="password"]:hover {
    border:1px solid #98dfff;}

.loginBox input[type="text"]:focus, .loginBox input[type="password"]:focus {
    border:1px solid #98dfff;
    -moz-box-shadow:    0px 0px 4px #ccefff,0px 2px 1px #98dfff,inset 0px 0px 7px #1784b7;
    -webkit-box-shadow: 0px 0px 4px #ccefff,0px 2px 1px #98dfff,inset 0px 0px 7px #1784b7;
    box-shadow:         0px 0px 4px #ccefff,0px 2px 1px #98dfff,inset 0px 0px 7px #1784b7;}
    
.loginBox input[type="submit"] {border:1px solid #ee9046;
    -moz-box-shadow:    inset 0px 1px 1px #fffced,inset 0px 0px 10px #fc9e56,2px 2px 7px #0279b7;
    -webkit-box-shadow: inset 0px 1px 1px #fffced,inset 0px 0px 10px #fc9e56,2px 2px 7px #0279b7;
    box-shadow:         inset 0px 1px 1px #fffced,inset 0px 0px 10px #fc9e56,2px 2px 7px #0279b7;
    background-color:#ffca60;
    color:#ff4200;
    height:35px;}



/*--
GOOGLE MAP
--*/
.map {max-width:100%;height:200px;}
.googlemap {display:block;position:relative;
    background-position:50% 50%;.radius;border:2px solid #fff;}
.googlemap img {opacity:0;}
.googlemap p {position:absolute;top:-12px;left:0;width:100%;}
.googlemap p span {color:#444;font:bold 10px/45px Helvetica, Sans-Serif;padding:2px;}



/*--
ICONS
--*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-i5ec8o');
	src:url('fonts/icomoon.eot?#iefix-i5ec8o') format('embedded-opentype'),
		url('fonts/icomoon.woff?-i5ec8o') format('woff'),
		url('fonts/icomoon.ttf?-i5ec8o') format('truetype'),
		url('fonts/icomoon.svg?-i5ec8o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.icon-expand:before {content: "\f055";
}
.icon-minimize:before {content: "\f056";
}
.icon-phone:before {content: "\f095";
}
.icon-print:before {content: "\e62f";
}
.icon-medkit:before {content: "\e630";
}
.icon-location:before {content: "\e600";
}
.icon-add-user:before {content: "\e601";
}
.icon-form:before {content: "\e602";
}
.icon-lifebuoy:before {content: "\e637";
}
.icon-users:before {content: "\e636";
}
.icon-credit-card:before {content: "\e604";
}
.icon-email:before {content: "\e60a";
}
.icon-shopping-cart:before {content: "\e603";
}
.icon-checkmark:before {content: "\e607";
}
.icon-xmark:before {content: "\e608";
}
.icon-trash:before {content: "\e609";
}
.icon-site-map:before {content: "\e60b";
}
.icon-stop:before {content: "\e60c";
}
.icon-login-out:before {content: "\e60d";
}
.icon-clipboard:before {content: "\e60e";
}
.icon-stats:before {content: "\e60f";
}
.icon-number1:before {content: "\e610";
}
.icon-number2:before {content: "\e611";
}
.icon-number3:before {content: "\e612";
}
.icon-number4:before {content: "\e613";
}
.icon-number5:before {content: "\e614";
}
.icon-number6:before {content: "\e615";
}
.icon-number7:before {content: "\e616";
}
.icon-number8:before {content: "\e617";
}
.icon-number9:before {content: "\e618";
}
.icon-file-cabinet:before {content: "\e606";
}
.icon-bullet:before {content: "\e635";
}
.icon-account:before {content: "\e633";
}
.icon-report:before {content: "\e61a";
}
.icon-pie-chart:before {content: "\e619";
}
.icon-signup:before {content: "\e61c";
}
.icon-file:before {content: "\e61e";
}
.icon-addform:before {content: "\e620";
}
.icon-alarm:before {content: "\e621";
}
.icon-stocks:before {content: "\e622";
}
.icon-preview:before {content: "\e623";
}
.icon-reliability:before {content: "\e625";
}
.icon-caution:before {content: "\e626";
}
.icon-cirlcereceived:before {content: "\e627";
}
.icon-cirlceexpired:before {content: "\e628";
}
.icon-received:before {content: "\e629";
}
.icon-expired:before {content: "\e62a";
}
.icon-managedhosting:before {content: "\e62b";
}
.icon-circlewarning:before {content: "\e62c";
}
.icon-warning:before {content: "\e62d";
}
.icon-edit:before {content: "\e62e";
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.float-left {float:left;}
.float-right {float:right;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
