<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - Uniformity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    {% assets "app_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/styles.less') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% assets "app_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <div id="topbg">
        <header>
            <nav>
                <ul>
                    <li><a href="#"><p class="header-nav-tab link-tab"><i class="icon-managedhosting"> </i>settings</p></a></li>
		            <li><a href="{{ url_for('logout')}}"><p class="header-nav-tab link-tab"><i class="icon-login-out"> </i>log out</p></a></li>
                    <li><a href="#"><p class="header-nav-tab link-tab"><i class="icon-medkit"> </i>support</p></a></li>
                </ul>            
            </nav>
            <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        </header>
        
        <div class="top">

	{% include 'nav.html' %}
        
        </div><!-- top -->

        {% include 'flash.html' %}

        {% block content %}{% endblock %}
        
        <p class="service-text"><a href="{{ url_for('styles') }}">styles</a></p>

    </div>
</body>

</html>

