{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<!-- caregiver_overview.html -->
<section class="container">
{% include 'action_nav.html' %}
<div class="caregiver">
    <table class="overview">
        <caption>
            <h3>caregiver forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">Form</th>
                <th class="role">Caregiver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td> 
                <td class="form-title expired">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expiring-soon">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expiring-soon">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
    </table><!-- overview caregiver -->
    <a href="{{ url_for('caregiver_overview') }}" class="button" role="button">view # more</a>
</div><!-- caregiver -->

{% include 'footer.html' %}

</section><!-- overview -->

{% endblock %}
