{% extends "base.html" %}
{% from "macros.html" import form_instance_tr with context %}
{% block title %}Index{% endblock %}
{% block content %}
<!-- caregiver_overview.html -->
<section class="container">
<div class="action-nav float-right">
        <a href="#" class="action"><span class="upload"><i class="fa fa-print fa-stack-1x"></i></span><p>Print Records</p></a>
</div>
<div class="caregiver">
    <table class="overview">
        <caption>
            <h3>caregiver forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">Form</th>
                <th class="role">Caregiver</th>
            </tr>
        </thead>
        <tbody>
           {% if urgent_forms %}
                {% for instance in urgent_forms %}
                    {{ form_instance_tr(instance, show_caregiver=True) }}
                {% endfor %}
            {% endif %}
        </tbody>
        <tbody>
           {% if non_urgent_forms %}
                {% for instance in non_urgent_forms %}
                    {{ form_instance_tr(instance, show_caregiver=True) }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table><!-- overview caregiver -->
    <a href="{{ url_for('caregiver_overview') }}" class="button" role="button">view # more</a>
</div><!-- caregiver -->

{% include 'footer.html' %}

</section><!-- overview -->

{% endblock %}
