{% extends "base.html" %}
{% block title %}{{ caregiver.name }}{% endblock %}
{% block content %}
<!-- caregiv.html -->
<section class="container">
    <div class="caregiver">
        <div class="profile-info">
            <h1>{{ caregiver.name }}</h1>
            <p class="address">
                {{ caregiver.address.address_1 }}
                {{ caregiver.address.address_2 }}
                <br />
                {{ caregiver.address.city }}
                {{ caregiver.address.state }}
                {{ caregiver.address.zip_code }}
            </p>
            <p class="phone">
                <span class="phone-number">{{ caregiver.phone_number }}</span>
                <span class="phone-extension">{{ caregiver.phone_extension }}</span>
            </p>
            {% if caregiver.birth_date %}
            <p class="birth-date">
                {{ caregiver.birth_date }}
            </p>
            {% endif %}
            <div class="summary">
                <div class="box yellow-light">{{ caregiver.num_expiring_soon }} Forms Expiring Soon</div>
                <div class="box red-light">{{ caregiver.num_expired }} Forms Expired</div>
            </div>
        </div><!--profile-info-->
        
        <a href="https://www.google.com/maps/preview#!q={{ caregiver.address.urlencode }}" class="googlemap" style="background-image:url(http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|{{ caregiver.address.urlencode }}&sensor=false)" target="_blank">
            <p>
                <span>Map Data &copy; Google</span>
            </p>
            <img src="http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|{{ caregiver.address.urlencode }}&sensor=false" alt="Map" class="map" />
        </a>
    </div><!--caregiver-->
</section>

<section class="container">
    <ul class="actionNav">
        <li><i class="icon-edit"> </i><a href="{{ url_for('caregiver_edit', caregiver_id=caregiver.id)}}">edit caregiver</a></li>
        <li><i class="icon-print"> </i>print record</li>
    </ul>
<div class="client">
   <a href="{{ url_for('service_add', caregiver_id=caregiver.id) }}" class="button" role="button">add client</a>
    <br/><br/>
    <table class="roleList">
        <thead>
            <tr>
                <th class="role" rowspan="2">clients</th>
                <th class="service" rowspan="2">service provided</th>
                <th class="forms" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="expired-forms">expired</th>
                <th class="expiring-soon-forms">expiring soon</th>
            </tr>
        </thead>
        <tbody>
            {% for service in caregiver.services %}
                <tr>
                    <td>
                        <a href="{{ url_for('client', client_id=service.client.id) }}">{{ service.client.name }}</a>
                    </td>
                    <td class="service">
                        <a href="{{ url_for('service', service_id=service.id) }}">{{ service.name }}</a>
                    </td>
                    <td class="expired-forms">{{ service.num_expired }}</td>
                    <td class="expiring-soon-forms">{{ service.num_expiring_soon }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><!-- client list -->
</div><!-- client style -->
<br/><br/>
<div class="caregiver">
    <a href="{{ url_for('caregiver_form_add', caregiver_id=caregiver.id) }}" class="button" role="button">add new caregiver form</a>
    <br/><br/>
    <table class="forms">
        <thead>
            <tr>
                <th class="caregiver-dark" colspan="2">caregiver forms</th>
            </tr>
        </thead>
        <tbody>
           {% if expired_forms %}
                {% for form in expired_forms %}
                    <tr>
                        <td class="expiration-date expired">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-1987</span>
                        </td>
                        <td class="form-title expired">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if expiring_soon_forms %}
                {% for form in expiring_soon_forms %}
                    <tr>
                        <td class="expiration-date expiring-soon">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-2015</span>
                        </td>
                        <td class="form-title expiring-soon">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tbody>
           {% if non_urgent_forms %}
                {% for form in non_urgent_forms %}
                    <tr>
                        <td class="expiration-date">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-2087</span>
                        </td>
                        <td class="form-title">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- caregiver -->

{% include 'footer.html' %}

</section>
{% endblock %}
