{% extends "base.html" %}
{% from "macros.html" import form_instance_tr with context %}
{% block title %}Index{% endblock %}
{% from "macros.html" import anchor_button with context %}
{% block content %}
<!-- client_overview.html -->
<section class="container">
<div class="action-nav float-right">
    {{ anchor_button('#', 'fa-print', 'Print Records') }}
</div>
<div class="client">
    <table class="overview">
        <caption>
            <h3>client forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">Form</th>
                <th class="role">client</th>
            </tr>
        </thead>
        <tbody>
           {% if urgent_forms %}
                {% for instance in urgent_forms %}
                    {{ form_instance_tr(instance, type='client') }}
                {% endfor %}
            {% endif %}
        </tbody>
        <tbody>
           {% if non_urgent_forms %}
                {% for instance in non_urgent_forms %}
                    {{ form_instance_tr(instance, type='client') }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- client -->

{% include 'footer.html' %}

</section><!-- overview -->

{% endblock %}
