{% extends "base.html" %}
{% block title %}{{ client.name }}{% endblock %}
{% block content %}
<!-- client.html -->
<section class="container">
    <div class="grid">
        <div class="col-1-2">
            <div class="profile-info client-text">
                <h1>{{ client.name }}</h1>
                <p class="address">
                    {{ client.address.address_1 }}
                    {{ client.address.address_2 }}
                    <br />
                    {{ client.address.city }}
                    {{ client.address.state }}
                    {{ client.address.zip_code }}
                </p>
                <p class="phone">
                    <span class="phone-number">{{ client.phone_number }}</span>
                    <span class="phone-extension">{{ client.phone_extension }}</span>
                </p>
                {% if client.birth_date %}
                <p class="birth-date">
                    {{ client.birth_date }}
                </p>
                {% endif %}
                <div class="grid">
                    <div class="col-1-2">
                        <div class="box summary yellow-light">{{ client.num_expiring_soon }} Forms Expiring Soon
                        </div>
                    </div>
                    <div class="expired col-1-2">
                        <div class="box summary red-light">{{ client.num_expired }} Forms Expired
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-2">
            <a href="https://www.google.com/maps/preview#!q={{ client.address.urlencode }}" class="googlemap" style="background-image:url(http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|{{ client.address.urlencode }}&sensor=false)" target="_blank">
                <p>
                    <span>Map Data &copy; Google</span>
                </p>
                <img src="http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|{{ client.address.urlencode }}&sensor=false" alt="Map" class="map" />
            </a>

        </div>
    </div>
</section>

<section class="container">
    <ul class="actionNav">
        <li><i class="icon-edit"> </i><a href="{{ url_for('client_edit', client_id=client.id)}}">edit client</a></li>
        <li><i class="icon-print"> </i>print record</li>
    </ul>

<div class="caregiver">
    <a href="{{ url_for('service_add', client_id=client.id) }}" class="button caregiver-dark" role="button">add caregiver</a>
    <br/><br/>
    <table class="roleList">
        <thead>
            <tr>
                <th class="role" rowspan="2">caregivers</th>
                <th class="service" rowspan="2">service provided</th>
                <th class="forms" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="expired-forms">expired</th>
                <th class="expiring-soon-forms">expiring soon</th>
            </tr>
        </thead>
        <tbody>
            {% for service in client.services %}
                <tr>
                    <td>
                        <a href="{{ url_for('caregiver', caregiver_id=service.caregiver.id) }}">{{ service.caregiver.name }}</a>
                    </td>
                    <td class="service-cell">
                        <a href="{{ url_for('service', service_id=service.id) }}">{{ service.name }}</a>
                    </td>
                    <td class="expired-forms">{{ service.num_expired }}</td>
                    <td class="expiring-soon-forms">{{ service.num_expiring_soon }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><!-- caregiver list -->
</div><!-- caregiver style -->

<br/><br/>
  
<div class="client">
    <a href="#" class="button client-dark" role="button">add new client form</a>
    <br/><br/>
    <table class="forms">
        <thead>
            <tr>
                <th class="caregiver-dark" colspan="2">client forms</th>
            </tr>
        </thead>
        <tbody>
           {% if expired_forms %}
                {% for form in expired_forms %}
                    <tr>
                        <td class="expiration-date expired">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-1987</span>
                        </td>
                        <td class="form-title expired">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if expiring_soon_forms %}
                {% for form in expiring_soon_forms %}
                    <tr>
                        <td class="expiration-date expiring-soon">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-2015</span>
                        </td>
                        <td class="form-title expiring-soon">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tbody>
            {% if non_urgent_forms %}
                {% for form in non_urgent_forms %}
                    <tr>
                        <td class="expiration-date">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-2087</span>
                        </td>
                        <td class="form-title">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- client --> 
   
{% include 'footer.html' %}
    
</section>
{% endblock %}
