{% extends "base.html" %}
{% from "macros.html" import form_instance_tr with context %}
{% block title %}{{ client.name }}{% endblock %}
{% from "macros.html" import anchor_button with context %}
{% block content %}
<!-- client.html -->
<section class="container">
    <div class="client">
        <div class="profile-info">
            <h1>{{ client.name }}</h1>
            <p class="address">
                {{ client.address.address_1 }}
                {{ client.address.address_2 }}
                <br />
                {{ client.address.city }}
                {{ client.address.state }}
                {{ client.address.zip_code }}
            </p>
            <p class="phone">
                <span class="phone-number">{{ client.formatted_phone_number }}</span>
                <span class="phone-extension">{{ client.phone_extension }}</span>
            </p>
            {% if client.birth_date %}
            <p class="birth-date">
                {{ client.birth_date }}
            </p>
            {% endif %}
            <div class="summary">
                <div class="box yellow-light">{{ client.num_expiring_soon }} Forms Expiring Soon</div>
                <div class="box red-light">{{ client.num_expired }} Forms Expired</div>
            </div>
        </div><!--profile-info-->
        <a href="https://www.google.com/maps/preview#!q={{ client.address.urlencode }}" class="googlemap" style="background-image:url(http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|{{ client.address.urlencode }}&sensor=false)" target="_blank">
            <span>Map Data &copy; Google</span>
            <img src="http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|{{ client.address.urlencode }}&sensor=false" alt="Map" class="map" />
        </a>
    </div><!--client-->
</section>

<section class="container">
    <div class="action-nav float-right">
        <div class="client">{{ anchor_button(url_for('client_edit', client_id=client.id), 'fa-pencil', 'Edit Client') }}</div>
        {{ anchor_button('#', 'fa-print', 'Print Records') }}
    </div>

<div class="caregiver">
    <div class="action-nav float-left">
        {{ anchor_button(url_for('service_add', client_id=client.id), 'fa-user-plus', 'Add New Caregiver') }}
    </div>
    <table class="role-list">
        <thead>
            <tr>
                <th class="role" rowspan="2">caregivers</th>
                <th class="service" rowspan="2">service provided</th>
                <th class="forms" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="expired-forms">expired</th>
                <th class="expiring-soon-forms">expiring soon</th>
            </tr>
        </thead>
        <tbody>
            {% for service in client.services %}
                <tr>
                    <td>
                        <a href="{{ url_for('caregiver', caregiver_id=service.caregiver.id) }}">{{ service.caregiver.name }}</a>
                    </td>
                    <td class="service">
                        <a href="{{ url_for('service', service_id=service.id) }}">{{ service.name }}</a>
                    </td>
                    <td class="expired-forms">{{ service.num_expired }}</td>
                    <td class="expiring-soon-forms">{{ service.num_expiring_soon }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><!-- caregiver list -->
</div><!-- caregiver style -->
<br/>
<div class="client">
    <div class="action-nav float-left">
        {{ anchor_button(url_for('client_form_add', client_id=client.id), 'fa-user-plus', 'Add New Client Form') }}</div>
    <h2 class="caption">Client Forms</h2>
    <table class="forms">
        <tbody>
           {% if urgent %}
                {% for instance in urgent %}
                    {{ form_instance_tr(instance) }}
                {% endfor %}
            {% endif %}
        </tbody>            
    </table>
    <table class="forms">
        <tbody>
            {% if non_urgent %}
                {% for instance in non_urgent %}
                    {{ form_instance_tr(instance) }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- client --> 
   
{% include 'footer.html' %}
    
</section>
{% endblock %}