{% extends "base.html" %}
{% block title %}The name{% endblock %}
{% block content %}
{% include 'flash.html' %}
<section class="container">
    <div class="grid">
        <div class="col-1-2">
            <div class="profile-info client-text">
                <p class="name">Emmanuel</p>
                <p>3440 N. Goldenrod Rd.
                    <br />Winter Park FL, 32792 Apt. 1221</p>
                <p>555-555-1234</p>
                <p>09/22/1959</p>
                <div class="grid">
                    <div class="col-1-2">
                        <div class="box summary yellow-light"># Forms Expiring Soon
                        </div>
                    </div>
                    <div class="expired col-1-2">
                        <div class="box summary red-light"># Forms Expired
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-2">
            <a href="https://www.google.com/maps/preview#!q=3440+N.+Goldenrod+Rd.+Winter+Park+FL%2C+32792+Apt.+1221" class="googlemap" style="background-image:url(http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|3440+N.+Goldenrod+Rd.+Winter+Park+FL,+32792+Apt.+1221&sensor=false)" target="_blank">
                <p>
                    <span>Map Data &copy; Google</span>
                </p>
                <img src="http://maps.google.com/maps/api/staticmap?size=640x250&zoom=13&maptype=roadmap&markers=color:green|3440+N.+Goldenrod+Rd.+Winter+Park+FL,+32792+Apt.+1221&sensor=false" alt "Map" class="map" />
            </a>

        </div>
    </div>
</section>



<section class="container">
    <table class="profile caregiver-light">
        <colgroup>
            <col class="client-col">
            <col class="service-col">
            <col>
            <col class="forms-col">
            <col class="forms-col">
        </colgroup>
        <thead>
            <tr>
                <th class="caregiver-dark col1" rowspan="2">caregiver</th>
                <th class="service-dark col2" rowspan="2">service provided</th>
                <th class="service-dark col3" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="service-dark col4">expired</th>
                <th class="service-dark col4">expiring soon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Client Name</td>
                <td class="service-cell">Supported Living Coach</td>
                <td class="service-bdr red-cell">2</td>
                <td class="service-bdr">
                    <p></p>
                </td>
            </tr>
        </tbody>
    </table><!-- client list -->
    <a href="#" class="button caregiver-dark" role="button">add ccaregiver</a>
    <br/><br/>
    <table class="profile client-light role-forms">
        <thead>
            <tr>
                <th class="client-dark" colspan="2">client forms</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date red-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title red-cell">form title</td>
            </tr>
            <tr>
                <td class="expiration-date yellow-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title yellow-cell">form title</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="expiration-date green-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title green-cell">form title</td>
            </tr>
            <tr>
                <td class="expiration-date green-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title green-cell">form title</td>
            </tr>
        </tbody>
    </table><!-- caregiver forms -->
    <a href="#" class="button client-dark" role="button">add new client form</a>
</section>
{% endblock %}
