{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% include 'flash.html' %}
<section class="container">
    <table class="overview client-light">
        <caption class="client-dark">
            <h3>caregiver forms</h3>
        </caption>
        <thead>
            <tr>
                <th class="client-dark" colspan="2">Form</th>
                <th class="client-dark col2">Caregiver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date red-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title red-cell">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date red-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title red-cell">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="expiration-date yellow-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title yellow-cell">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date yellow-cell">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title yellow-cell">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
    </table><!-- client -->
    <a href="#" class="button client-dark" role="button">view # more</a>
</section><!-- overview -->

{% endblock %}
