<footer>
<div class="footer-container">
    <div class="footer-logo-container">
        <h1 class="footer-logo">
            <a href="{{ url_for('styles') }}">
                <img src="../static/img/footer-logo.png" alt="Uniformity" />
            </a>  
        </h1>
    </div>
    <div class="footer-border">
        <img src="../static/img/footer-bdr.gif" />
    </div>
    <div class="footer-menu">
        <div class="home">
            <a href="#" ><h3>Home</h3></a>
            <ul>
                <li><a href="#" class="overview">Overview</a></li>
                <li><a href="#" class="caregivers">Caregivers</a></li>
                <li><a href="#" class="clients">Clients</a></li>
            </ul>
        </div>
        <div class="about">
            <a href="#" ><h3>About</h3></a>
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
        <div class="support">
            <a href="#"><h3>Support</h3></a>
            <ul>
                <li><a href="#">Support Home</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="members">
            <a href="#"><h3>Members</h3></a>
            <ul>
                <li><a href="#">Sign Out</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="">Refer Someone</a></li>
            </ul>
        </div>
    </div>
</div><!-- footer container -->
    <p class"compyright">&copy; Copyright 2014 <a href="#" title="#">Uniformity</a> | All rights reserved.</p>
</footer>