<footer>
    <div class="footer-logo">
        <svg class="uniformity-logo-footer">
            <use xlink:href="#uniformity-logo-footer"></use>
        </svg>
    </div>
    <div class="footer-menu">
        <ul class="home">
          <li><a href="#">Home</a></li>
          <li><a href="#" class="overview">Overview</a></li>
          <li><a href="#" class="caregivers">Caregivers</a></li>
          <li><a href="#" class="clients">Clients</a></li>
        </ul>
        <ul class="about">
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
        <ul class="support">
          <li><a href="#">Support</a></li>
          <li><a href="#">Support Home</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="members">
          <li><a href="#">Members</a></li>
          <li><a href="#">Sign Out</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Refer Someone</a></li>
        </ul>
    </div><!--footer-menu-->
    <div class="copyright">
        <p>&copy; Copyright 2014 <a href="#" title="#">Uniformity</a>&nbsp;</p>
        <p>&nbsp;All rights reserved.</p>
    </div>
</footer>
<!--<a href="{{ url_for('styles') }}">
    <img src="../static/img/footer-logo.png" alt="Uniformity" />
</a> -->