{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<section class="container">
    <div class="grid">
        <div class="col-1-3">
            <div class="box-title caregiver-light">
                <p class="title">caregiver</p>
                <p class="name">jennifer lawrence</p>
                <p class="phone"><i class="icon-user-add"> </i>555-555-1234</p>
            </div><!-- caregiver -->
        </div>
        <div class="col-1-3">
            <div class="box-title service-light">
                <p class="title">service</p>
                <div class="service-wrap"><p class="service">supported living coach</p></div>
            </div><!-- service -->
        </div>
        <div class="col-1-3">
            <div class="box-title client-light">
                <p class="title">client</p>
                <p class="name">miley cyrus</p>
                <p class="phone">555-555-1234</p>
            </div><!-- client -->
        </div>
    </div>
</section>

<section class="container">
    <table class="form service-light">
        <caption class="service-dark">
            <p class="caption">form title</p>
        </caption>
        <tbody>
            <tr>
                <td class="current-status green-cell">
                    <div class="grid">
                        <div class="col-4-5">
                            <span class="status">
                                <i class="icon-uniF471"> </i><p>01-21-2014</p>
                            </span>
                            <p class="status">
                                Received #
                            </p>
                        </div>
                        <div class="col-1-5">
                            <button><i class="icon-uniF47C"> </i>edit</button>
                        </div>
                    </div><!-- grid -->
                </td>
            </tr>
            <tr>
                <td class="current-status yellow-cell">
                    <div class="grid">
                        <div class="col-4-5">
                            <span class="status">
                                <i class="icon-error2"> </i><p>01-21-2014</p>
                            </span>
                            <p class="status">
                                this form will expire soon
                            </p>
                        </div>
                        <div class="col-1-5">
                            <button><i class="icon-uniF47C"> </i>edit</button>
                        </div>
                    </div><!-- grid -->
                </td>
            </tr>
            <tr>
                <td class="current-status red-cell">
                    <div class="grid">
                        <div class="col-4-5">
                            <span class="status">
                                <i class="icon-uniF470"> </i><p>01-21-2014</p>
                            </span>
                            <p class="status">
                                This form is expired
                            </p>
                        </div>
                        <div class="col-1-5">
                            <button><i class="icon-uniF47C"> </i>edit</button>
                        </div>
                    </div><!-- grid -->
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="status green-cell">
                    <div class="grid">
                        <div class="col-4-5">
                            <span class="status">
                                <i class="icon-uniF471"> </i><p>01-21-2013</p>
                            </span>
                            <p class="status">
                                received #
                            </p>
                        </div>
                        <div class="col-1-5">
                            <button><i class="icon-uniF47C"> </i>edit</button>
                        </div>
                    </div><!-- grid -->
                </td>
            </tr>
            <tr>
                <td class="status green-cell">
                    <div class="grid">
                        <div class="col-4-5">
                            <span class="status">
                                <i class="icon-uniF471"> </i><p>01-21-2012</p>
                            </span>
                            <p class="status">
                                received #
                            </p>
                        </div>
                        <div class="col-1-5">
                            <button><i class="icon-uniF47C"> </i>edit</button>
                        </div>
                    </div><!-- grid -->
                </td>
            </tr>
            <tr>
                <td class="status green-cell">
                    <div class="grid">
                        <div class="col-4-5">
                            <span class="status">
                                <i class="icon-uniF471"> </i><p>01-21-2011</p>
                            </span>
                            <p class="status">
                                received #
                            </p>
                        </div>
                        <div class="col-1-5">
                            <button><i class="icon-uniF47C"> </i>edit</button>
                        </div>
                    </div><!-- grid -->
                </td>
            </tr>
        </tbody>
    </table><!-- caregiver -->
</section>

{% endblock content %}
