{% extends "base.html" %}
{% from "macros.html" import form_instance_tr with context %}
{% block title %}Index{% endblock %}
{% from "macros.html" import anchor_button with context %}
{% block content %}
<!-- index.html -->
<section class="container">
    <div class="service overview">
    <table class="overview">
        <caption>
            <h3>service forms</h3>
        </caption>
        <thead>
            <tr>
                <th>form</th>
                <th class="caregiver">caregiver</th>
                <th class="service">service provided</th>
                <th class="client">client</th>
            </tr>
        </thead>
        <tbody>
           {% if service_forms %}
                {% for instance in service_forms %}
                    {{ form_instance_tr(instance, type='service') }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table><!-- overview service -->
    {{ anchor_button(url_for('service_overview'), 'fa-files-o', 'View More') }}
    </div><!-- service -->

    <div class="caregiver overview">
    <table class="overview">
        <caption>
            <h3>caregiver forms</h3>
        </caption>
        <thead>
            <tr>
                <th>Form</th>
                <th class="role">Caregiver</th>
            </tr>
        </thead>
        <tbody>
           {% if caregiver_forms %}
                {% for instance in caregiver_forms %}
                    {{ form_instance_tr(instance, type='caregiver') }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table><!-- overview caregiver -->
    {{ anchor_button(url_for('caregiver_overview'), 'fa-files-o', 'View More') }}
    </div><!-- caregiver -->

    <div class="client overview">
    <table class="overview">
        <caption>
            <h3>client forms</h3>
        </caption>
        <thead>
            <tr>
                <th>Form</th>
                <th class="role">client</th>
            </tr>
        </thead>
        <tbody>
           {% if client_forms %}
                {% for instance in client_forms %}
                    {{ form_instance_tr(instance, type='client') }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {{ anchor_button(url_for('client_overview'), 'fa-files-o', 'View More') }}
    </div><!-- client -->

{% include 'footer.html' %}    
    
</section><!-- overview -->

{% endblock %}
