{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <section class="container">
    <div class="login-box">
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="">
          {{ form.hidden_tag() }}
          {{ render_field(form.name, autofocus=true, required=true, pattern=".{3,128}", title="3 to 128 characters") }}<i class="fa fa-user"></i>
          {{ render_field(form.password, required=true, pattern=".{8,1000}", title="Minimum of 8 characters.") }}<i class="fa fa-key"></i>
          <button type="submit" class="action"><span class="upload"><i class="fa fa-unlock-alt fa-stack-1x"></i></span><p>Log in</p></button>
        </form>
    </div>
    </section>
{% endblock %}