<div class="grid">
    <div class="col-1-2">
        <section class="overview-top caregiver-light overview-top-caregiver">
            <h3>caregivers</h3>
            <form>
                <fieldset class="search-form">
                    <div class="grid">
                        <div class="col-2-3">
                            <p>
                                <input type="search" id="input-search" name="search" placeholder="Firstname Lastname" autofocus required/>
                            </p>
                        </div>
                        <div class="col-1-3">
                            <p>
                                <button><i class="icon-preview"></i>search</button>
                            </p>
                        </div>
                    </div><!-- grid -->
                </fieldset>
            </form>
            <div class="grid">
                <div class="col-1-2">
                    <a href="{{ url_for('caregiver_index') }}" class="button" role="button">view all caregivers</a>
                </div>
                <div class="col-1-2">
                    <a href="#" class="button" role="button">add new caregiver</a>
                </div>
            </div><!-- grid -->
        </section>
    </div><!-- col-1-2 -->
    
    <div class="col-1-2">
        <section class="overview-top client-light overview-top-client">
            <h3>clients</h3>
            <form>
                <fieldset class="search-form">
                    <div class="grid">
                        <div class="col-2-3">
                            <p>
                                <input type="search" id="input-search" name="search" placeholder="Firstname Lastname" autofocus required/>
                            </p>
                        </div>
                        <div class="col-1-3">
                            <p>
                                <button><i class="icon-preview"></i>search</button>
                            </p>
                        </div>
                    </div><!-- grid -->
                </fieldset>
            </form>
            <div class="grid">
                <div class="col-1-2">
                    <a href="{{ url_for('client_index') }}" class="button" role="button">view all clients</a>
                </div>
                <div class="col-1-2">
                    <a href="#" class="button" role="button">add new client</a>
                </div>
            </div><!-- grid -->
        </section>
    </div><!-- col-1-2 -->
</div><!-- grid -->
