{% extends "base.html" %}
{% block title %}{{ role|capitalize }}s{% endblock %}
{% block content %}
<!-- role_index.html -->
<section class="container">
<ul class="actionNav">
    <li><i class="icon-print"> </i><a href="#">print record</a></li>
</ul>
<div class="{{role}}">
    <a href="{{ url_for(role ~ '_add') }}" class="button {{role}}-dark" role="button">add new {{role}}</a>
    <table class="roleList role-overview">
        <thead>
            <tr>
                <th class="role" rowspan="2">{{role}}s</th>
                <th class="forms" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="expired-forms">expired</th>
                <th class="expiring-soon-forms">expiring soon</th>
            </tr>
        </thead>
        <tbody>
           {% for item in items %}
                <tr>
                    {% if role == 'caregiver' %}
                        <td>
                            <a href="{{ url_for('caregiver', caregiver_id=item.id)}}">{{ item.name }}</a>
                        </td>
                        <td class="expired-forms">{{item.num_expired}}</td>
                        <td class="expiring-soon-forms">{{item.num_expiring_soon}}</td>
                    {% else %}
                        <td>
                            <a href="{{ url_for('client', client_id=item.id)}}">{{ item.name }}</a>
                        </td>
                        <td class="expired-forms">{{item.num_expired}}</td>
                        <td class="expiring-soon-forms">{{item.num_expiring_soon}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table><!-- {{role}} list -->
</div><!-- {{role}} style -->

{% include 'footer.html' %}

</section>
{% endblock content %}
