{% extends "base.html" %}
{% block title %}{{ role|capitalize }}s{% endblock %}
{% block content %}
<!-- role_index.html -->
<section class="container">
    <a href="{{ url_for(role ~ '_add') }}" class="button {{role}}-dark" role="button">add new {{role}}</a>
    <table class="list {{ role }}-light">
        <thead>
            <tr>
                <th class="{{ role }}-dark col1" rowspan="2"><p>{{ role }}s</p></th>
                <th class="service-dark col3" colspan="2"><p>forms</p></th>
            </tr>
            <tr>
                <th class="service-dark col4"><p>expired</p></th>
                <th class="service-dark col4"><p>expiring soon</p></th>
            </tr>
        </thead>
        <tbody >
            {% for item in items %}
                <tr>
                    {% if role == 'caregiver' %}
                        <td><p><a href="{{ url_for('caregiver', caregiver_id=item.id)}}">{{ item.name }}</a></p></td>
                        <td class="service-bdr expired">{{item.num_expired}}</td>
                        <td class="service-bdr expiring-soon"><p>{{item.num_expiring_soon}}</p></td>
                    {% else %}
                        <td><p><a href="{{ url_for('client', client_id=item.id)}}">{{ item.name }}</a></p></td>
                        <td class="service-bdr expired"></td>
                        <td class="service-bdr expiring-soon"><p>4</p></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}
