{% extends "base.html" %}
{% block title %}The name{% endblock %}
{% block content %}
<!-- role_form.html -->
<section class="container">
    <div class="box page-title {{ role }}-light">
        <p class="title">{{ role }}</p>
        <h2>jennifer lawrence</h2>
    </div><!-- {{ role }} -->
</section><!-- role header -->
<section class="container">
{% include 'action_nav.html' %}
<div class="{{ role }}">
<h1>Extremely Abnoxiously Long Form Title</h1>

<form action="" id="edit-form" class="edit-form">
  <div class="box"></div>
  <div class="box"></div>
</form>

<div class="grid">
    <form method=post action="">
        <div class="col-1-2">
            <div class="form-header">
                <div class="form-field">
                    <label for="exp">Change Expiration Date</label>
                    <input type="date" id="input-expdate" name="exp" />
                </div>
            </div>
        </div>
        <div class="col-1-2">
            <div class="form-header">
                <div class="form-field">
                    <label for="exp">Mark as Received</label>
                    <input type="date" id="input-expdate" name="exp" />
                </div>
            </div>
        </div>
    </form>
</div>
<input type=submit value=Save>
    <table class="form-current expiring-soon">
        <caption>
            <h3>form title</h3>
        </caption>
        <tbody>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">this form will expire soon!</td>
                <td class="edit"><a href="#" class="button" role="button"><i class="icon-edit"> </i>edit status</a></td>
            </tr>
        </tbody>
    </table>
    
    <table class="form-record expired">
        <tbody>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
        </tbody>
    </table>
</div><!-- {{ role }} -->
{% include 'footer.html' %}
</section><!-- overview -->
{% endblock %}
