<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<section class="container">
    <div class="box {{ role }}-light">
        <form>
            <fieldset class="search-form">
                <p>
                    <label for="search">Search:</label>
                    <input type="search" id="input-search" name="search" placeholder="Firstname Lastname" autofocus required/>
                    <button><i class="icon-preview"> </i>search</button>
                </p>
            </fieldset>
        </form>
    </div>
    <br />
    <table class="list {{ role }}-light">
        <colgroup>
            <col class="client-col">
            <col >
            <col class="forms-col">
            <col class="forms-col">
        </colgroup>
        <thead>
            <tr>
                <th class="{{ role }}-dark col1" rowspan="2"><p>{{ role }}s</p></th>
                <th class="service-dark col3" colspan="2"><p>forms</p></th>
            </tr>
            <tr>
                <th class="service-dark col4"><p>expired</p></th>
                <th class="service-dark col4"><p>expiring soon</p></th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <!--
                TODO
                for each expired and expiring-soon column
                check if the td is empty. If not, add a class of 'red-cell'
                or 'yellow-cell'.
                -->
                <td><p>Client Name</p></td>
                <td class="svc-bdr expired"><p>2</p></td>
                <td class="svc-bdr expiring-soon"></td>
            </tr>
            <tr>
                <td><p>Client Name</p></td>
                <td class="svc-bdr expired"></td>
                <td class="svc-bdr expiring-soon"><p>4</p></td>
            </tr>
            <tr>
                <td><p>Client Name</p></td>
                <td class="svc-bdr expired"></td>
                <td class="svc-bdr expiring-soon"></td>
            </tr>
            <tr>
                <td><p>Client Name</p></td>
                <td class="svc-bdr expired"><p>10</p></td>
                <td class="svc-bdr expiring-soon"></td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
