{% extends "base.html" %}
{% block title %}The name{% endblock %}
{% block content %}
<!-- service_add_edit.html -->
<section class="container">
    <div class="box page-title service-light">
        <h2>add new client</h2>
    </div><!-- caregiver -->
</section><!-- service header -->
<section class="container">
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="">
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.caregiver_id) }}
      {{ render_field(form.client_id) }}
      <input type=submit value=Save>
    </form>
<!--
<form method="POST" action="">
    <select name="caregiver">
        <option value="1">The poopiest head</option>
        <option value="2">The poopier head</option>
    </select>
    <input type="text" name="service-name" placeholder="the service name" id="" value="" />
    <select name="client">
        <option value="1">Emmanuel</option>
    </select>
    <input type="submit" name="" id="" value="submit" />
</form>
-->
</section>
{% endblock %}
