{% extends "base.html" %} {% block title %}The name{% endblock %} {% block content %} {% from "macros.html" import submit_button with context %}
<!-- service_add_edit.html -->
<section class="container">
    <div class="{{ role }}">
        <div class="page-title">
            <h2>New {{ role_opposite|title }} for {{ person.name }}</h2>
        </div>
    </div>
</section>
<!-- service header -->

<section class="container">
    <form method="post" action="" class="assign-roll">
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="">
            {{ form.hidden_tag() }}
            <div class="{{ role_opposite }}">
                <div class="box form">
                    <h3>{{ role_opposite|title }} Information</h3>
                        <form method=post action="">
                            <ol>
                                {% if role == 'client' %}
                                    {{ render_field(form.caregiver_id) }}
                                {% else %}
                                    {{ render_field(form.client_id) }}
                                {% endif %}
                            </ol>
                    </fieldset>
                </div><!-- box -->
            </div><!-- client -->
            <div class="service">
                <div class="box form">
                    <h3>Service Information</h3>
                    <fieldset>
                        <ol>
                            {{ render_field(form.name) }}
                        </ol>
                    </fieldset>
                </div><!-- box -->
            </div><!-- service -->
            <div class="service"><!-- button wrap for grid -->
            {{ submit_button('fa-check', 'Save New Service') }}
            </div>
    </form>
    
    {% include 'footer.html' %}
</section>

{% endblock %}
