{% extends "base.html" %}
{% block title %}The name{% endblock %}
{% block content %}
<!-- service_form.html -->
<section class="container">
   <div class="service-header">
        <div class="service-wrap">
           <div class="caregiver">
                <div class="serviceBox">
                    <text class="service-title">caregiver</text>
                    <text class="service">longfirstname longlastname</text>
                    <text class="phone">555-555-1234</text>
                </div><!-- serviceBox -->
            </div><!-- caregiver -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="service"><div class="serviceBox">
                    <text class="service-title">service</text>
                    <text class="service">rediculously long service title name</text>
                </div><!-- serviceBox -->
            </div><!-- service -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="client"><div class="serviceBox">
                    <text class="service-title">client</text>
                    <text class="service">longfirstnamez</text>
                    <text class="phone">555-555-1234</text>
                </div><!-- serviceBox -->
            </div><!-- client -->
        </div><!-- service-wrap -->
    </div><!-- service-header -->
</section><!-- service header -->
<section class="container">
 <div class="service">   
    <table class="form-current expiring-soon">
        <caption>
            <h3>form title</h3>
        </caption>
        <tbody>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">this form will expire soon!</td>
                <td class="edit"><a href="#" class="button" role="button"><i class="icon-edit"> </i>edit status</a></td>
            </tr>
        </tbody>
    </table>
    
    <table class="form-record expired">
        <tbody>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
        </tbody>
    </table>
</div><!-- service -->
</section><!-- overview -->
{% endblock %}
