{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<!-- services_overview.html -->
<section class="container">
<div class="action-nav float-right">
        <a href="#" class="action"><span class="upload"><i class="fa fa-print fa-stack-1x"></i></span><p>Print Records</p></a>
</div>
<div class="service">
    <table class="overview">
        <caption>
            <h3>service forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">form</th>
                <th class="caregiver">caregiver</th>
                <th class="service">service provided</th>
                <th class="client">client</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>12-25-2015</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Taya Whiteside</a></td>
                <td><a href="http://form.management/services/1">Supported Living Coach</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Emmanuel Nunez</a></td>
            </tr>            
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>12-28-2015</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Kiana Ferry</a></td>
                <td><a href="http://form.management/services/1">In-Home Support</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Tammie Lesch</a></td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>12-29-2015</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Floy Farrell</a></td>
                <td><a href="http://form.management/services/1">Personal Care Assistant</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Donia Treutel</a></td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>01-01-2016</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Eliza Nolan</a></td>
                <td><a href="http://form.management/services/1">Supported Employment</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Classie Bartoletti</a></td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>01-01-2016</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Rian Koelpin</a></td>
                <td><a href="http://form.management/services/1">In-Home Support</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Storm Stamm</a></td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>01-02-2016</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Trae Durgan</a></td>
                <td><a href="http://form.management/services/1">In-Home Support</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Authur Runte</a></td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>01-04-2016</span>
                </td>
                <td class="form-title expired"><a href="http://form.management/services/1/forms/1"></a></td>
                <td class="caregiver-cell"><a href="http://form.management/caregivers/1">Aisha Nicolas</a></td>
                <td><a href="http://form.management/services/1">Companionship</a></td>
                <td class="client-cell"><a href="http://form.management/clients/1">Fallon Kuvalis</a></td>
            </tr>
        </tbody>
    </table><!-- overview service -->
</div>
{% include 'footer.html' %}
    
</section><!-- overview -->

{% endblock %}
