{% extends "base.html" %}
{% block title %}{{ service.name|title }}{% endblock %}
{% block content %}
<!-- service_form.html -->
<section class="container">
    <div class="service-header">
        <div class="service-wrap">
           <div class="caregiver">
                <div class="serviceBox">
                    <text class="service-title">caregiver</text>
                    <text class="service"><a href="{{ url_for('caregiver', caregiver_id=service.caregiver.id) }}">{{ service.caregiver.name }}</a></text>
                    <text class="phone">{{ service.caregiver.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- caregiver -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="service"><div class="serviceBox">
                    <text class="service-title">service</text>
                    <text class="service">{{ service.name|title }}</text>
                </div><!-- serviceBox -->
            </div><!-- service -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="client"><div class="serviceBox">
                    <text class="service-title">client</text>
                    <text class="service"><a href="{{ url_for('client', client_id=service.client.id) }}">{{ service.client.name }}</a></text>
                    <text class="phone">{{ service.client.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- client -->
        </div><!-- service-wrap -->
    </div><!-- service-header -->
</section><!-- service header -->
<section class="container">
<div class="action-nav float-right">
        <a href="#" class="button"><span class="upload"><i class="fa fa-print fa-stack-1x"></i></span><p>Print Records</p></a>
</div>

 <div class="service">
   <h2 class="caption">{{service_form.name}}</h2>
   
   <table class="form-instances">
   <tbody>
      <tr>
         <td class="expired">
            <span class="expiration-date"><i class="fa fa-times-circle"></i> 11-11-1111</span>
            <span class="status">Expired</span>
            <span class="edit-toggle">
               <div class="edit-form-button small-button"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="button-text">Edit</span></div>
               <div class="cancel-edit-form-button small-button"><i class="fa fa-times"></i>&nbsp;<span class="button-text">Cancel</span></div>
            </span>
            <div class="edit-form">
               <form>
               <ol>
                  <li>
                     <label for="expiration-date">Expiration Date:</label>
                     <input type="text" name="expiration-date" id="expiration-date" placeholder="MM/DD/YYYY" />
                  </li>
                  <li>
                     <label class="control checkbox">
                        <input type="checkbox">
                        <span class="control-indicator"></span> Received
                     </label>
                     <span id="wtf" class="received-date">
                        <label for="received-date">Date:</label>
                        <input type="text" name="received-date" id="received-date" placeholder="MM/DD/YYYY" />
                     </span>
                  </li>
                  <li>
                     <button type="submit" form="form1" value="Submit" class="button"><span class="paper-icon"><i class="fa fa-calendar-check-o"></i></span><span class="button-text">Save</span></button>
                  </li>
               </ol>
               </form>
            </div>
         </td>
      </tr>
      <tr>
         <td class="expiring-soon">
            <span class="expiration-date"><i class="fa fa-exclamation-circle"></i> 08-31-1988</span>
            <span class="status">Expiring soon</span>
            <span class="edit-toggle">
               <div class="edit-form-button small-button"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="button-text">Edit</span></div>
               <div class="cancel-edit-form-button small-button"><i class="fa fa-times"></i>&nbsp;<span class="button-text">Cancel</span></div>
            </span>
            <div class="edit-form">
               <form>
               <ol>
                  <li>
                     <label for="expiration-date">Expiration Date:</label>
                     <input type="text" name="expiration-date" id="expiration-date" placeholder="MM/DD/YYYY" />
                  </li>
                  <li>
                     <label class="control checkbox">
                        <input type="checkbox">
                        <span class="control-indicator"></span> Received
                     </label>
                     <span id="wtf" class="received-date">
                        <label for="received-date">Date:</label>
                        <input type="text" name="received-date" id="received-date" placeholder="MM/DD/YYYY" />
                     </span>
                  </li>
                  <li>
                     <button type="submit" value="Submit" class="button"><span class="paper-icon"><i class="fa fa-calendar-check-o"></i></span><span class="button-text">Save</span></button>
                  </li>
               </ol>
               </form>
            </div>
         </td>
      </tr>
   </tbody>
   <tbody>
      <tr>
         <td>
            <span class="expiration-date"><i class="fa fa-check-circle"></i> 08-31-1988</span>
            <span class="status">Up to date</span>
            <span class="edit-toggle">
               <div class="edit-form-button small-button"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="button-text">Edit</span></div>
               <div class="cancel-edit-form-button small-button"><i class="fa fa-times"></i>&nbsp;<span class="button-text">Cancel</span></div>
            </span>
            <div class="edit-form">
               <form>
               <ol>
                  <li>
                     <label for="expiration-date">Expiration Date:</label>
                     <input type="text" name="expiration-date" id="expiration-date" placeholder="MM/DD/YYYY" />
                  </li>
                  <li>
                     <label class="control checkbox">
                        <input type="checkbox">
                        <span class="control-indicator"></span> Received
                     </label>
                     <span id="wtf" class="received-date">
                        <label for="received-date">Date:</label>
                        <input type="text" name="received-date" id="received-date" placeholder="MM/DD/YYYY" />
                     </span>
                  </li>
                  <li>
                     <button type="submit" value="Submit" class="button"><span class="paper-icon"><i class="fa fa-calendar-check-o"></i></span><span class="button-text">Save</span></button>
                  </li>
               </ol>
               </form>
            </div>
         </td>
      </tr>
      <tr>
         <td>
            <span class="expiration-date"><i class="fa fa-check-circle"></i> 08-31-1988</span>
            <span class="status">Up to date</span>
            <span class="edit-toggle">
               <div class="edit-form-button small-button"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="button-text">Edit</span></div>
               <div class="cancel-edit-form-button small-button"><i class="fa fa-times"></i>&nbsp;<span class="button-text">Cancel</span></div>
            </span>
            <div class="edit-form">
               <form>
               <ol>
                  <li>
                     <label for="expiration-date">Expiration Date:</label>
                     <input type="text" name="expiration-date" id="expiration-date" placeholder="MM/DD/YYYY" />
                  </li>
                  <li>
                     <label class="control checkbox">
                        <input type="checkbox">
                        <span class="control-indicator"></span> Received
                     </label>
                     <span id="wtf" class="received-date">
                        <label for="received-date">Date:</label>
                        <input type="text" name="received-date" id="received-date" placeholder="MM/DD/YYYY" />
                     </span>
                  </li>
                  <li>
                     <button type="submit" value="Submit" class="button"><span class="paper-icon"><i class="fa fa-calendar-check-o"></i></span><span class="button-text">Save</span></button>
                  </li>
               </ol>
               </form>
            </div>
         </td>
      </tr>
      <tr>
         <td>
            <span class="expiration-date"><i class="fa fa-check-circle"></i> 08-31-1988</span>
            <span class="status">Received on 08/31/1988</span>
            <span class="edit-toggle">
               <div class="edit-form-button small-button"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="button-text">Edit</span></div>
               <div class="cancel-edit-form-button small-button"><i class="fa fa-times"></i>&nbsp;<span class="button-text">Cancel</span></div>
            </span>
            <div class="edit-form">
               <form>
               <ol>
                  <li>
                     <label for="expiration-date">Expiration Date:</label>
                     <input type="text" name="expiration-date" id="expiration-date" placeholder="MM/DD/YYYY" />
                  </li>
                  <li>
                     <label class="control checkbox">
                        <input type="checkbox">
                        <span class="control-indicator"></span> Received
                     </label>
                     <span id="wtf" class="received-date">
                        <label for="received-date">Date:</label>
                        <input type="text" name="received-date" id="received-date" placeholder="MM/DD/YYYY" />
                     </span>
                  </li>
                  <li>
                     <button type="submit" value="Submit" class="button"><span class="paper-icon"><i class="fa fa-calendar-check-o"></i></span><span class="button-text">Save</span></button>
                  </li>
               </ol>
               </form>
            </div>
         </td>
      </tr>
   </tbody>
</table>
</div><!-- service -->
</section><!-- overview -->
{% endblock %}
