{% extends "base.html" %}
{% block title %}{{ service.name|title }}{% endblock %}
{% block content %}
<!-- service.html -->
<section class="container">
    <div class="service-header">
        <div class="service-wrap">
           <div class="caregiver">
                <div class="serviceBox">
                    <text class="service-title">caregiver</text>
                    <text class="service"><a href="">{{ service.caregiver.name }}</a></text>
                    <text class="phone">{{ service.caregiver.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- caregiver -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="service"><div class="serviceBox">
                    <text class="service-title">service</text>
                    <text class="service">{{ service.name|title }}</text>
                </div><!-- serviceBox -->
            </div><!-- service -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="client"><div class="serviceBox">
                    <text class="service-title">client</text>
                    <text class="service"><a href="">{{ service.client.name }}</a></text>
                    <text class="phone">{{ service.client.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- client -->
        </div><!-- service-wrap -->
    </div><!-- service-header -->
</section><!-- service header -->

<section class="container">
    <ul class="actionNav">
        <li>
            <i class="icon-edit"> </i>
            <a href="{{ url_for('service_edit', service_id=service.id) }}">edit service</a>
        </li>
        <li>
            <i class="icon-print"> </i>print record
        </li>
    </ul>
<div class="service">
    <a href="#" class="button service-dark" role="button">add service form</a>
    <br/><br/>  
    <table class="forms">
        <thead>
            <tr>
                <th class="caregiver-dark" colspan="2">service forms</th>
            </tr>
        </thead>
        <tbody>
           {% if expired_forms %}
                {% for form in expired_forms %}
                    <tr>
                        <td class="expiration-date expired">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-1987</span>
                        </td>
                        <td class="form-title expired">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if expiring_soon_forms %}
                {% for form in expiring_soon_forms %}
                    <tr>
                        <td class="expiration-date expiring-soon">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-2015</span>
                        </td>
                        <td class="form-title expiring-soon">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tbody>
             {% if non_urgent_forms %}
                {% for form in non_urgent_forms %}
                    <tr>
                        <td class="expiration-date">
                            <span class="expiration-date"><span class="icon-cirlcereceived"></span>07-14-2087</span>
                        </td>
                        <td class="form-title">{{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- service --> 
    
{% include 'footer.html' %}

</section><!-- overview -->

{% endblock %}
