{% extends "base.html" %}
{% block title %}The name{% endblock %}
{% block content %}
<!-- service_add_edit.html -->
<section class="container">
    <div class="box page-title service-light">
        <h2>add new service</h2>
    </div><!-- caregiver -->
</section><!-- service header -->
<section class="container">
<form method="POST" action="">
    <div class="grid">
        <div class="col-1-3">
            <div class="box-title caregiver-light">
                <p class="title">caregiver</p>
                <select name="caregiver">
                    <option value="1">The poopiest head</option>
                    <option value="2">The poopier head</option>
                </select>
            </div><!-- caregiver -->
        </div>
        <div class="col-1-3">
            <div class="box-title service-light">
                <p class="title">service</p>
                <input type="text" name="service-name" placeholder="the service name" id="" value="" />
            </div><!-- service -->
        </div>
        <div class="col-1-3">
            <div class="box-title client-light">
                <p class="title">client</p>
                <select name="client">
                    <option value="1">Emmanuel</option>
                </select>
            </div><!-- client -->
        </div>
    </div>
    <input class="service-dark" type="submit" name="" id="" value="submit" />
</form>
</section>
{% endblock %}
