{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<!-- services_overview.html -->
<section class="container">
<div class="action-nav float-right">
        <a href="#" class="action"><span class="upload"><i class="fa fa-print fa-stack-1x"></i></span><p>Print Records</p></a>
</div>
<div class="service">
    <table class="overview">
        <caption>
            <h3>service forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">form</th>
                <th class="caregiver">caregiver</th>
                <th class="service">service provided</th>
                <th class="client">client</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td class="caregiver-cell">firstname lastname</td>
                <td>service provided</td>
                <td class="client-cell">firstname lastname</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">what if there's a really long document title</td>
                <td class="caregiver-cell">firstname lastname</td>
                <td>service provided</td>
                <td class="client-cell">firstname lastname</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td class="caregiver-cell">firstname lastname</td>
                <td>service provided</td>
                <td class="client-cell">firstname lastname</td>
            </tr>
        </tbody>
    </table><!-- overview service -->
</div>
{% include 'footer.html' %}
    
</section><!-- overview -->

{% endblock %}
