{% extends "base.html" %}
{% block title %}The name{% endblock %}
{% block content %}
{% from "macros.html" import submit_button with context %}
<!-- service_form_add_edit.html -->
<section class="container">
    <div class="service-header">
       <!-- MVP This info should be dynamic -->
        <div class="service-wrap caregiver">
            <div class="service-box">
                <text class="service-title">Caregiver</text>
                <text class="service"><a href="#">Taya Whiteside</a></text>
                <text class="phone">555-555-1234</text>
            </div>
        </div>
        <!-- service-wrap -->
        <div class="service-wrap service">
            <div class="service-box">
                <text class="service-title">Service</text>
                <text class="service">Supported Living Coach</text>
            </div>
        </div>
        <!-- service-wrap -->
        <div class="service-wrap client">
            <div class="service-box">
                <text class="service-title">Client</text>
                <text class="service"><a href="#">Helen Keller</a></text>
                <text class="phone">555-555-1234</text>
            </div>
        </div>
    </div>
    <!-- service-header -->
</section>
<!-- container -->

<section class="container">
    <div class="service">
        <h3>Service Form Information</h3>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="">
            <ul class="box {{ role }}">
                <li>
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" value="nisi quisquam">
                </li>
            </ul>
            {{ submit_button('fa-check', 'Save Form') }}
        </form>
    </div>
    
    {% include 'footer.html' %}
    
</section>
<!-- overview -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
<script>
    jQuery(function ($) {
        $("#phone_number").mask("(999) 999-9999");
    });
</script>
{% endblock %}