{% extends "base.html" %}
{% block title %}{{ service.name|title }}{% endblock %}
{% from "macros.html" import anchor_button with context %}
{% block content %}
<!-- service.html -->
<section class="container">
    <div class="service-header">
        <div class="service-wrap">
           <div class="caregiver">
                <div class="serviceBox">
                    <text class="service-title">caregiver</text>
                    <text class="service"><a href="{{ url_for('caregiver', caregiver_id=service.caregiver.id) }}">{{ service.caregiver.name }}</a></text>
                    <text class="phone">{{ service.caregiver.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- caregiver -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="service"><div class="serviceBox">
                    <text class="service-title">service</text>
                    <text class="service">{{ service.name|title }}</text>
                </div><!-- serviceBox -->
            </div><!-- service -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="client"><div class="serviceBox">
                    <text class="service-title">client</text>
                    <text class="service"><a href="{{ url_for('client', client_id=service.client.id) }}">{{ service.client.name }}</a></text>
                    <text class="phone">{{ service.client.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- client -->
        </div><!-- service-wrap -->
    </div><!-- service-header -->
</section><!-- service header -->

<section class="container">
    <div class="action-nav float-right">
        <div class="service">{{ anchor_button(url_for('service_edit', service_id=service.id), 'fa-pencil', 'Edit Service') }}</div>
        {{ anchor_button('#', 'fa-print', 'Print Records') }}
    </div>
<div class="service">
    <div class="action-nav float-left">
        {{ anchor_button('#', 'fa-user-plus', 'Add New Service Form') }}
    </div>
    <h2 class="caption">Service Forms</h2>
    <table class="forms">
        <tbody>
            <!-- MVP: This form data should be populated from the web server on load. Fake data is used right now. -->
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date">05-25-2014</span> <a href="/services/1/forms/1">Example expired form name</a>
                </td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date">05-25-2015</span> <a href="/services/1/forms/1">Another expired form</a>
                </td>
            </tr>
            <!-- end MVP -->
           {% if expired_forms %}
                {% for form in expired_forms %}
                    <tr>
                        <td class="expiration-date expired">
                            <span class="expiration-date">07-14-1987</span> <a href="">{{ form.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <!-- MVP: This form data should be populated from the web server on load. Fake data is used right now. -->
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date">
                        <script type="text/javascript" charset="utf-8">
                            document.write(moment().add(5, 'days').format('MM-DD-YYYY'));
                        </script>
                    </span>
                    <a href="/services/1/forms/1">Expiring soon form example</a>
                </td>
            </tr>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date">
                        <script type="text/javascript" charset="utf-8">
                            document.write(moment().add(8, 'days').format('MM-DD-YYYY'));
                        </script>
                    </span>
                    <a href="/services/1/forms/1">Another form expiring soon</a>
                </td>
            </tr>
            <!-- MVP -->
            {% if expiring_soon_forms %}
                {% for form in expiring_soon_forms %}
                    <tr>
                        <td class="expiration-date expiring-soon">
                            <span class="expiration-date">07-14-2015</span> {{ form.name }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tbody>
            <!-- MVP: This form data should be populated from the web server on load. Fake data is used right now. -->
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date">07-14-2017</span> <a href="/services/1/forms/1">Fingerprint Card</a>
                </td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date">03-07-2015</span> <a href="/services/1/forms/1">Fingerprint Card</a>
                </td>
            </tr>
            <!-- MVP -->
             {% if non_urgent_forms %}
                {% for form in non_urgent_forms %}
                    <tr>
                        <td class="expiration-date">
                            <span class="expiration-date">07-14-2087</span> 
                        {{ form.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- service --> 
    
{% include 'footer.html' %}

</section><!-- overview -->

{% endblock %}
