{% extends "base.html" %}
{% block title %}{{ service.name|title }}{% endblock %}
{% block content %}
<!-- service_form.html -->
<section class="container">
    <div class="service-header">
        <div class="service-wrap">
           <div class="caregiver">
                <div class="serviceBox">
                    <text class="service-title">caregiver</text>
                    <text class="service"><a href="{{ url_for('caregiver', caregiver_id=service.caregiver.id) }}">{{ service.caregiver.name }}</a></text>
                    <text class="phone">{{ service.caregiver.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- caregiver -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="service"><div class="serviceBox">
                    <text class="service-title">service</text>
                    <text class="service">{{ service.name|title }}</text>
                </div><!-- serviceBox -->
            </div><!-- service -->
        </div><!-- service-wrap --><div class="service-wrap"><div class="client"><div class="serviceBox">
                    <text class="service-title">client</text>
                    <text class="service"><a href="{{ url_for('client', client_id=service.client.id) }}">{{ service.client.name }}</a></text>
                    <text class="phone">{{ service.client.phone_number }}</text>
                </div><!-- serviceBox -->
            </div><!-- client -->
        </div><!-- service-wrap -->
    </div><!-- service-header -->
</section><!-- service header -->
<section class="container">
<div class="action-nav float-right">
        <a href="#" class="action"><span class="upload"><i class="fa fa-print fa-stack-1x"></i></span><p>Print Records</p></a>
</div>
 <div class="service">
   <h2 class="caption">{{service_form.name}}</h2>
    <table class="form-current expiring-soon">
        <tbody>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">this form will expire soon!</td>
                <td class="edit"><a href="#" class="button" role="button"><i class="icon-edit"> </i>edit status</a></td>
            </tr>
        </tbody>
    </table>
    
    <table class="form-record expired">
        <tbody>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
            <tr>
                <td class="expiration-date">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="status">reveived on 00-00-0000</td>
                <td class="edit"><a href="#"><i class="icon-edit"> </i>edit</a></td>
            </tr>
        </tbody>
    </table>
</div><!-- service -->
</section><!-- overview -->
{% endblock %}
