{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<section class="container">
    <div class="client">
    <table class="roleList">
        <thead>
            <tr>
                <th class="caregiver" rowspan="2">caregivers</th>
                <th class="service" rowspan="2">service provided</th>
                <th class="forms" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="expired">expired</th>
                <th class="expiring-soon">expiring soon</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <a href="#">firstname lastname</a>
                    </td>
                    <td class="service-cell">
                        extralong service name
                    </td>
                    <td class="service-bdr expired">2</td>
                    <td class="service-bdr expiring-soon">2</td>
                </tr>
        </tbody>
    </table><!-- client list -->
    </div><!-- client style -->

    <div class="caregiver">
    <table class="roleList">
        <thead>
            <tr>
                <th class="caregiver" rowspan="2">clients</th>
                <th class="service" rowspan="2">service provided</th>
                <th class="forms" colspan="2">forms</th>
            </tr>
            <tr>
                <th class="expired">expired</th>
                <th class="expiring-soon">expiring soon</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <a href="#">firstname lastname</a>
                    </td>
                    <td class="service-cell">
                        extralong service name
                    </td>
                    <td class="service-bdr expired">2</td>
                    <td class="service-bdr expiring-soon">2</td>
                </tr>
        </tbody>
    </table><!-- caregiver list -->
    </div><!-- caregiver style -->
</section><!-- roleList -->




<section class="container">
    <div class="service">
    <table class="overview service-light">
        <caption class="service-dark">
            <h3>service forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">form</th>
                <th class="caregiver">caregiver</th>
                <th class="service">service provided</th>
                <th class="client">client</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td class="caregiver-cell">firstname lastname</td>
                <td>service provided</td>
                <td class="client-cell">firstname lastname</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">what if there's a really long document title</td>
                <td class="caregiver-cell">firstname lastname</td>
                <td>service provided</td>
                <td class="client-cell">firstname lastname</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td class="caregiver-cell">firstname lastname</td>
                <td>service provided</td>
                <td class="client-cell">firstname lastname</td>
            </tr>
        </tbody>
    </table><!-- overview service -->
    <a href="{{ url_for('service_overview') }}" class="button" role="button">view # more</a>
    </div><!-- service -->
    <br/>
    <div class="caregiver">
    <table class="overview">
        <caption>
            <h3>caregiver forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">Form</th>
                <th class="role">Caregiver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td> 
                <td class="form-title expired">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expiring-soon">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expiring-soon">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
    </table><!-- overview caregiver -->
    <a href="{{ url_for('caregiver_overview') }}" class="button" role="button">view # more</a>
    </div><!-- caregiver -->
    <br />
    <div class="client">
    <table class="overview">
        <caption>
            <h3>client forms</h3>
        </caption>
        <thead>
            <tr>
                <th colspan="2">Form</th>
                <th class="role">client</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date expired">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expired">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expiring-soon">document title</td>
                <td>Jane Smith</td>
            </tr>
            <tr>
                <td class="expiration-date expiring-soon">
                    <span class="expiration-date"><span class="icon-cirlcereceived"></span>00-00-0000</span>
                </td>
                <td class="form-title expiring-soon">document title</td>
                <td>Jane Smith</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('caregiver_overview') }}" class="button" role="button">view # more</a>
    </div><!-- client -->

{% include 'footer.html' %}
    
</section><!-- overview -->

{% endblock %}
